body{
    background-image: url('0001.PNG') ;
    color: white;
background-repeat:no-repeat;
background-size:cover;
background-position:center;
min-height: 95vh;

    max-width: 1000px; /* Максимальна ширина - 1000px */
  margin: 0 auto;     /* Магія! Центрує блок по горизонталі */
  padding: 40px 20px; /* Не забуваємо про внутрішні відступи */

}
a{display: flex;
    text-decoration: none;
    color: black;
    font-size:30px;
  padding: 10px;
   background-color:black;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
p{
color:rgb(221, 228, 240);
}
